<header>
	<h1>NAV</h1>
</header>

<ul id="play_auth_nav">
	<% if user_signed_in? %>
		<li><%= link_to t('play_auth.links.profile'), play_auth.profile_path %></li>
		<li><%= link_to t('play_auth.links.edit'), play_auth.edit_user_registration_path %></li>
		<li><%= link_to t('play_auth.links.sign_out'), play_auth.destroy_user_session_path, :method => :delete %></li>

	<% else %>
		<li><%= link_to t('play_auth.links.log_in'), play_auth.new_user_session_path %></li>
		<li><%= link_to t('play_auth.links.sign_up'), play_auth.new_user_registration_path %></li>
		<li><%= link_to t('play_auth.links.forgot'), new_password_path(:user) %></li>
		
	<% end %>
</ul>