%header
	%h1 NAV

%ul#play_auth-nav
	- if user_signed_in?
		%li= link_to t('play_auth.links.profile'), play_auth.profile_path
		%li= link_to t('play_auth.links.edit'), play_auth.edit_user_registration_path
		%li= link_to t('play_auth.links.sign_out'), play_auth.destroy_user_session_path, :method => :delete

	- else
		%li= link_to t('play_auth.links.log_in'), play_auth.new_user_session_path
		%li= link_to t('play_auth.links.sign_up'), play_auth.new_user_registration_path
		/%li= link_to t('play_auth.links.forgot'), new_password_path(:user)
		/%li= #link_to t('play_auth.links.confirmation'), new_confirmation_path(resource_name)

		/- PlayAuth::User.omniauth_providers.each do |provider|
		/	%li= link_to 'Sign in with ' + provider.to_s.titleize, "/users/auth/#{provider}", :id => "#{provider.to_s}" #omniauth_authorize_path(PlayAuth::User.new, provider), :id => "{provider.to_s}" #link_to 'Sign in with ' + provider.to_s.titleize, omniauth_authorize_path(PlayAuth::User.new, provider), :id => "#{provider.to_s}"