- content_for :head do
	= stylesheet_link_tag 'application'
	= javascript_include_tag 'application'

= render 'play_auth/shared/nav'

- flash.each do |name, msg|
	= content_tag :div, msg, :id => "frash_#{name}" if msg.is_a?(String)

= yield